{% extends 'main/base.html' %}

{% block title %}
Создать задачу
{% endblock %}

{% block content %}
    <section class="body-create">
        <form class="form-area" method="post">
            <h1 class="heading-create">Создайте новую заметку!</h1>
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.task }}<br>
            <button type="submit" class = "btn btn-success"> Добавить</button>
            <span>{{ error }}</span>
        </form>

    </section>
{% endblock %}