{% extends 'main/base.html' %}
{% load static %}



{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/index.css'%}" media="screen">
{% endblock %}

{% block content %}
    <section class="body-section">
        <div class="cover-div">
            <h1 class="heading-h1">Ваши заметки:</h1>
            {% if tasks %}
                {% for el in tasks %}
                    <div class = "note-cover">
                        <div class="date-cover">
                            <p>{{ el.date }}</p>
                        </div>
                        <div class="text-cover">
                            <h3>{{ el.title }}</h3>
                            <p class="text-break">{{ el.task }}</p>
                        </div>
                        <div class="buttons-cover">
                            <div class="buttons-width-cover">
                                <button class="edit-button" onclick="location.href='{% url 'note-update' el.id %}'" >Редактировать</button>
                                <button class="delete-button" onclick="location.href='{% url 'note-delete' el.id %}'" >Удалить</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="p-error">У вас нет заметок! Вы можете добавить их нажав на кнопку "Создать заметку".</p>
            {% endif %}
        </div>
    </section>
{% endblock %}